main > .section .carousel-hero-wrapper {
    max-width: unset;
    padding: 0;
}

.carousel-hero-container h2, .carousel-hero-container p {
    padding: 0 var(--spacing-xxlarge);
    text-align: center;
}

.carousel-hero .carousel-hero-slides-container {
    position: relative;
}

.carousel-hero .carousel-hero-slides,
.carousel-hero .carousel-hero-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel-hero .carousel-hero-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;
    height: 40vw;
}

.carousel-hero .carousel-hero-slides::-webkit-scrollbar {
    display: none;
}

.carousel-hero .carousel-hero-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: min(50vw, calc(100dvh - var(--header-height)));
}

.carousel-hero .carousel-hero-slide:has(.carousel-hero-slide-content[data-align='center']) {
    align-items: center;
}

.carousel-hero .carousel-hero-slide:has(.carousel-hero-slide-content[data-align='right']) {
    align-items: flex-end;
}

.carousel-hero .carousel-hero-slide .carousel-hero-slide-image picture {
    position: absolute;
    inset: 0;
}

.carousel-hero .carousel-hero-slide .carousel-hero-slide-image picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-hero .carousel-hero-slide .carousel-hero-slide-content {
    z-index: 1;
    margin: 68px;
    padding: var(--spacing-small);
    color: white;
    background-color: rgb(19 19 19 / 75%);
    position: relative;
    width: var(--slide-content-width, auto);
}

.carousel-hero nav {
    position: relative;
}

.carousel-hero .carousel-hero-slide-indicators {
    position: absolute;
    bottom: var(--spacing-small);
    text-align: center;
    font-size: .25em;
    font-weight: bold;
    color: transparent;
    z-index: 2;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    line-height: 0;
}

.carousel-hero .carousel-hero-slide-indicator {
    display: inline-block;
    margin: 0 var(--spacing-xsmall) 0 var(--spacing-xxsmall);
    border-radius: var(--shape-border-radius-2);
}

.carousel-hero .carousel-hero-slide-indicator button {
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    outline: 0;
    border: 0 none;
    border-radius: 50%;
    text-decoration: none;
    background-color: var(--color-neutral-400);
    margin: 0;
    padding: 0;
    transition: background-color 0.2s;
}

.carousel-hero .carousel-hero-slide-indicator button:disabled,
.carousel-hero .carousel-hero-slide-indicator button:hover,
.carousel-hero .carousel-hero-slide-indicator button:focus-visible {
    background-color: var(--color-neutral-700);
}

.carousel-hero .carousel-hero-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}


.carousel-hero .carousel-hero-navigation-buttons button:hover,
.carousel-hero .carousel-hero-navigation-buttons button:focus-visible {
    background-color: rgb(19 19 19 / 75%);
}

.carousel-hero .carousel-hero-navigation-buttons button::after {
    display: block;
    content: '';
    border-bottom: 0;
    border-left: 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel-hero .carousel-hero-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%) rotate(45deg);
    left: calc(50% - 2px);
}

@media (min-width: 600px) {
    .carousel-hero .carousel-hero-navigation-buttons {
        left: 24px;
        right: 24px;
    }

    .carousel-hero .carousel-hero-slide .carousel-hero-slide-content {
        --slide-content-width: calc((100% - 184px) / 2);

        margin: 92px;
    }

    .carousel-hero .carousel-hero-slide .carousel-hero-slide-content[data-align='justify'] {
        --slide-content-width: auto;
    }
}
